.DS_Store
.git
*.tar.gz
*.pyc
__pycache__
/bin
/build.*
/ext/*.sh
/ext/*/.git
/ext/*/data
/ext/*/test*
!/ext/kcst/data/make-kcst-db.sh
/ext/cgmlstfinder/make_nj_tree.py
/ext/medaka
/ext/ncbi-blast
!/ext/ncbi-blast/bin/blastn
!/ext/ncbi-blast/bin/makeblastdb
/ext/resfinder/cge/output/trash
/ext/salmonellatypefinder
/scripts
/src/*/build
/test
