# Configuration of the back-end services to include in the BAP
#
# This configuration is read by ./update-backends.sh when cloning and
# checking out the back-end services.
#
# To upgrade a back end, set its desired version (commit, tag, branch)
# in this file and run ./update-backends.sh.
#
# Before bringing out a release, if you had set any service to 'master',
# run ./pin-versions.sh to update the version tag in this file to match
# the actual checked out commit.
#
# File format: empty and commented lines are ignored; all other lines
# must have three tab-separated columns:
# - name: directory to check out, or unpack a downloaded tarball, in
# - version: commit to check out, or @VERSION@ to substitute in URL
# - URL: the upstream git repository or download URL
#
# Note that the update-backend.sh script figures out from the extension
# on the URL whether the backend is a git repository or tarball download.

# CGE Core module
#
# Note: need to stick to feature branch cleanup-tmpdirs until merged to master
cge_core_module	cleanup-tmpdirs	https://bitbucket.org/genomicepidemiology/cge_core_module.git

# CGE Services
#
# NOTE: These services are downloaded from the 'mini-cge' mirror at KCRI,
#       not from the upstream repositories, which are impractically large.
#       See the explanation in the README.1st files in the repositories.
#
#       If you want track upstream master for any of these repositories, replace 
#       https://git.kcri.it/mini-cge -> https://bitbucket.org/genomicepidemiology
#
cgmlstfinder	1.1.5.0	https://git.kcri.it/mini-cge/cgmlstfinder.git
choleraefinder	1.0.0.1	https://git.kcri.it/mini-cge/choleraefinder.git
kmerfinder	3.0.2.3	https://git.kcri.it/mini-cge/kmerfinder.git
mlst	2.0.7.0	https://git.kcri.it/mini-cge/mlst.git
plasmidfinder	2.1.6.0	https://git.kcri.it/mini-cge/plasmidfinder.git
pmlst	2.0.3.0	https://git.kcri.it/mini-cge/pmlst.git
resfinder	4.1.11.0	https://git.kcri.it/mini-cge/resfinder.git
virulencefinder	2.0.4.3	https://git.kcri.it/mini-cge/virulencefinder.git
#
# Excluded (for now)
# CGE assembler is very old and replaced by SKESA and SPAdes
#assembler	0.2.0	https://bitbucket.org/genomicepidemiology/assembler.git
# choleraefinder is ready for inclusion but we haven't written the shim yet
# salmonellatypefinder has evolved a lot and needs work for reintegration
#salmonellatypefinder	master	https://git.kcri.it/mini-cge/salmonellatypefinder.git

# Other dependencies - git repos
#
flye	2.9-16-g80f2	https://github.com/fenderglass/Flye.git
kma	1.4.0-2-gc4544	https://bitbucket.org/genomicepidemiology/kma.git
kcst	1.2.6	https://github.com/zwets/kcst.git
skesa	skesa.2.4.0_saute.1.3.0_2	https://github.com/ncbi/SKESA.git
picoline	1.4.0	https://github.com/zwets/picoline.git
fastq-utils	1.2.0	https://github.com/zwets/fastq-utils.git
unfasta	1.3.0	https://github.com/zwets/unfasta.git
odds-and-ends	1.0.1	https://github.com/zwets/odds-and-ends.git

# Other dependencies - tarball downloads
# 
ncbi-blast	2.13.0	https://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/@VERSION@/ncbi-blast-@VERSION@+-x64-linux.tar.gz

# vim: sts=4:sw=4:ai:si
