# Configuration of the back-end services to include in the BAP
#
# This configuration is read by ./update-backends.sh when cloning and
# checking out the back-end services.
#
# To upgrade a back end, set its desired version (commit, tag, branch)
# in this file and run ./update-backends.sh.
#
# File format: empty and commented lines are ignored; all other lines
# must have three tab-separated columns:
# - name: directory to check out, or unpack a downloaded tarball, in
# - version: commit to check out, or @VERSION@ to substitute in URL
# - URL: the upstream git repository or download URL
#
# Note that the update-backend.sh script figures out from the extension
# on the URL whether the backend is a git repository or tarball download.

# CGE Core module and its successor (used by ResFinder from 4.2.1)
#
# Note: need to stick to feature branch cleanup-tmpdirs until merged to master
cgecore	cleanup-tmpdirs	https://bitbucket.org/genomicepidemiology/cgecore.git
cgelib	0.7.2-2-g7b6a	https://bitbucket.org/genomicepidemiology/cgelib.git

# CGE Services
#
# NOTE: These services are downloaded from the 'kcri-tz' mirror, not
#       from the upstream repositories, which are impractically large.
#       See the explanation in the README.1st files in the repositories.
#
#       However you can just substitute the upstream repository if you wish:
#       https://github.com/kcri-tz -> https://bitbucket.org/genomicepidemiology
#
cgmlstfinder	1.1.5.9	https://github.com/kcri-tz/cgmlstfinder.git
choleraefinder	1.0.0.2	https://github.com/kcri-tz/choleraefinder.git
kmerfinder	3.0.2.4	https://github.com/kcri-tz/kmerfinder.git
mlst	2.0.9.0	https://github.com/kcri-tz/mlst.git
plasmidfinder	2.1.6.1	https://github.com/kcri-tz/plasmidfinder.git
pmlst	2.0.3.1	https://github.com/kcri-tz/pmlst.git
resfinder	4.2.2.0	https://github.com/kcri-tz/resfinder.git
virulencefinder	2.0.4.4	https://github.com/kcri-tz/virulencefinder.git
#
# Excluded (for now)
# salmonellatypefinder has evolved a lot and needs work for reintegration
#salmonellatypefinder	master	https://github.com/kcri-tz/salmonellatypefinder.git

# Other dependencies - git repos
#
flye	2.9.1	https://github.com/fenderglass/Flye.git
kma	1.4.6	https://bitbucket.org/genomicepidemiology/kma.git
kcst	1.2.6-1-g24db	https://github.com/zwets/kcst.git
skesa	skesa.2.4.0_saute.1.3.0_2	https://github.com/ncbi/SKESA.git
picoline	1.4.2	https://github.com/zwets/picoline.git
fastq-utils	1.3.0	https://github.com/zwets/fastq-utils.git
unfasta	1.3.1	https://github.com/zwets/unfasta.git
odds-and-ends	1.0.1-1-g5da2	https://github.com/zwets/odds-and-ends.git

# Other dependencies - tarball downloads
# 
ncbi-blast	2.13.0	https://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/@VERSION@/ncbi-blast-@VERSION@+-x64-linux.tar.gz

# vim: sts=4:sw=4:ai:si
